@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-body text-deepblue antialiased;
  }
}

.leaflet-container {
  font-family: inherit;
}

.leaflet-marker-icon.hotel-marker-pin {
  border: none;
  background: transparent;
}
